.contato {
    width: 100%;
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: var(--main-purple);
    font-size: 200%;
    font-weight: 300;
    text-align: justify;
}