.inicio {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('../../assets/wallpapers/BG-Home.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.inicio_titulo {
    font-size: 500%;
    font-weight: 500;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inicio_subtitulo {
    font-size: 250%;
    font-weight: 200;
}

/* @media screen and (max-width: 1000px) {

} */