.projetos {
    width: 100%;
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: var(--main-purple);
    font-size: 200%;
    font-weight: 300;
    text-align: justify;
}

.projetos_desc {
    width: 90%;
    height: 20vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.projetos_titulo {
    width: 30%;
    gap: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projetos_container {
    width: 80%;
    height: 80vh;
}

.projetos_content {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.projetos_card {
    height: 45%;
    width: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    cursor: pointer;
}

.projetos_card-titulo {
    font-size: 115%;
    margin-bottom: 10px;
}

.projetos_card-img {
    height: 200px;
    width: 200px;
    padding: 50px;

    filter: brightness(0.8);
    border: 2px solid var(--main-purple);
    border-radius: 35px;
    background-color: var(--main-purple-transparent-30);
}

.projetos_card-img:hover {
    filter: brightness(1);
}