.quem-sou {
    width: 100%;
    height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.quem-sou_img {
    width: 400px;
    height: 400px;
    padding: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    
    border-radius: 100%;
    border-top-right-radius: 0%;

    background: linear-gradient(180deg, #954DC8 0%, #380675 100%);
}

.quem-sou_foto {
    width: 100%;
    border-radius: 100%;
}

.quem-sou_content {
    width: 40%;
    height: 100%;
    margin: 5%;
    gap: 5%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    color: var(--main-purple);
    font-size: 200%;
    font-weight: 300;
    text-align: justify;
}

.quem-sou_titulo {
    gap: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .quem-sou {
        flex-direction: column;
    }

    .quem-sou_img {
        width: 200px;
        height: 200px;
        padding: 30px;
    }

    .quem-sou_content {
        width: 100%;
        height: 40%;
        padding: 0 40px;

        font-size: large;
        text-align: center;
        font-weight: 400;

        align-items: center;
    }

    .quem-sou_titulo {
        width: 80%;
    }
}