.portfolio, .portfolio_container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

@media screen and (max-width: 1000px) {
    .portfolio {
        flex-direction: row;
    }
}