.header {
    width: 100%;
    height: 150px;

    position: absolute;
    top: 0;
}

.header_lista {
    width: 100%;
    height: 100%;
    gap: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    list-style: none;
}

.header_lista-item {
    height: 40px;
    cursor: pointer;
    padding: 2px;

    color: var(--main-white);
    font-size: x-large;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header_lista-item:hover {
    padding: 2px 2px 0;
    border-bottom: 2px solid var(--main-white);
}